.mainRegister{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fidelsetRegister{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border: none;
    margin-bottom: 6rem;
    margin-top: 6rem;
}
.formRegister{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.labelRegister{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin: 10px;
}
.inputRegister{
    width: 25rem;
    height: 3rem;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
}
.buttonRegister{
    padding: 0.5rem 2rem;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
    background-color: #e441f3;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}
.buttonRegister:hover{
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.registerError{
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 1rem;
}
@media (min-width: 300px) and (max-width: 1199px){
    .inputRegister{
        width: 20rem;
    }
}