.formLogin{
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 5rem;
    flex-direction: column;
}
.fidelSet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.inputLogin{
    width: 25rem;
    height: 3rem;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
}
.labelLogin{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin: 10px;
}
.mainLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}
.buttonLogin{
    padding: 0.5rem 1rem;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(3, 3, 3);
    background-color: #e441f3;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}
.buttonLogin:hover{
    background-color: #242424;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.3s;
    font-weight: 600;
    margin-top: 1rem;
}
.pLogin{
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    margin: 12px;
    text-align: center;
}
.linkLogin{
    text-decoration: none;
    color: #f8029a;
    font-size: 1rem;
    font-weight: 600;
}
.linkLogin:hover{
    color: #ffffff;
    background-color: #f053b4;
    border-radius: 10px;
    padding: 5px;
    transition: cubic-bezier(0.86, 0, 0.07, 1) 0.3s;
}
.loginError{
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin-top: 1rem;
}
@media (min-width: 300px) and (max-width: 1199px){
    .inputLogin{
        width: 20rem;
        height: 3rem;
        border: 1px solid rgb(105, 102, 102);
        border-radius: 4px;
        box-shadow: 2px 2px 2px rgb(3, 3, 3);
    }
    .fidelSet{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25rem;
        height: 30rem;
        border: none;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .pLogin{
        font-size: 1rem;
        font-weight: 600;
        color: #fcfafa;
        margin: 13px;
        text-align: center;

    }
}