@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.h1-Home{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    animation: aninH1HOME 2s ease-in-out;
}
main{
    animation: aninAllMain 2s ease-in-out;
}
.div-Span{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.image-INITIAL{
    width: 35rem;
    margin: 2rem;
    border-radius: 10px;
}
.div-Left{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
    margin-bottom: 0rem;
}
.h3-MainHome{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    margin-top: 6rem;
}
.h2-bottomHome{
    font-family: 'Prompt', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    margin: 0.5rem 0;
    letter-spacing: 2px;
    color: #fff;
}
.h3-bottomHome{
    margin: 0.5rem 0;
    font-weight: 300;
    font-size: 20px;
}
.mainBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-left: 11.5rem;
    grid-template-rows: 1fr 1fr;
}
.cookies{
    background-color: #242424;
    border-radius: 10px;
    padding: 2rem 10rem;
    top: 32rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
}
.cookiesP{
    font-family: 'Prompt', sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    text-align: left;
}
.cookiesButton{
    background-color: rgb(204, 0, 255);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    top: 32rem;
    margin-left: 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-size: 19px;
    font-weight: 300;
    text-align: left;
}
.cookiesButton:hover{
    background-color: #e3e3e3;
    border: 1px solid rgb(204, 0, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.cookiesLink{
    font-family: 'Prompt', sans-serif;
    font-size: 19px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    text-decoration: none;
}
.box1{
    width: 22rem;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
    animation: aninBoxMain 8s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}
.txt-mainBox{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
    text-align: left;
}
@keyframes aninBoxMain {
    0%{
        box-shadow: 4px 3px 0px 0px rgb(204, 0, 255);
    }
    50%{
        box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }
    100%{
        box-shadow: 4px 3px 0px 0px rgb(204, 0, 255);
    }
}
.box1-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin: 5px 5rem;
}
.wwppAnimation-enter{
    opacity: 0;
    transform: translate(400px);
}
.wwppAnimation-enter-active{
    opacity: 1;
    transform: translate(400px);
    transition: all 0.5s;
}
.wwppAnimation-exit{
    opacity: 1;
}
   
.wwppAnimation-exit-active{
    opacity: 0;
    transform: translateY(-100px);
    transition: all 0.3s;
}
.div-Whatsapp{
    position: fixed;
    right: 20px;
    bottom: 10px;
}
.image-Whatsapp{
    cursor: pointer;
    width: 70px;
    animation: aninWppChamada 3s ease-in-out infinite;
}
@keyframes aninWppChamada{
    10%, 90% {
        transform: translate3d(-1px, 1px, -1px);
      }
      
      20%, 80% {
        transform: translate3d(1px, 1px, -2px);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-3px, 2px, -3px);
      }
    
      40%, 60% {
        transform: translate3d(3px, 2px, -4px);
      }
    }
.hs-mainHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-conversation{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 9px;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    position: fixed;
    right: 0;
    left: 60rem;
    bottom: 0;
    top: 9rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    z-index: 1;
}
.h3-conversation{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
}
.form-conversation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.input-conversation{
    width: 20rem;
    height: 40px;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid rgb(131, 131, 131);
    outline: none;
    background-color: rgb(228, 224, 224);
    padding-left: 0.9rem;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}
.link-conversation{
    border: none;
    outline: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(228, 224, 224);
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem;
}
.link-conversationWpp{
    width: 50%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 240, 20);
    border-radius: 5px;
    cursor: pointer;
}
.link-conversationWpp:hover{
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
.textarea-conversation{
    width: 20rem;
    height: 100px;
    margin: 0.5rem;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    background-color: rgb(228, 224, 224);
    border-bottom: 1px solid rgb(107, 107, 107);
    outline: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
}
#noEnvio{
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
}
.button-conversation{
    width: 85%;
    height: 40px;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.button-conversation:hover{
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}
@keyframes aninH1HOME{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.spanShow{
    animation: spanAnin 2s ease-in-out infinite;
    color: rgb(235, 60, 241);
    display: inline-block;
}

@keyframes spanAnin{
    0%{
        opacity: 0;
        transform: perspective(1000px) rotateX(90deg);
    }
    50%{
        opacity: 0.5;
        transform: perspective(1000px) rotateX(0deg);
    }
    100%{
        opacity: 1;
        transform: perspective(1000px) rotateX(0deg);
    }
}

@keyframes aninAllMain {
    0%{
        opacity: 0;
        }
    100%{
        opacity: 1;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    .h1-Home{
        font-size: 40px;
    }
    .image-INITIAL{
        width: 24rem;
        margin-top: 0;
    }
    .div-Left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h3-MainHome{
        font-size: 16px;
        margin-top: 1rem;
        margin-right: 0;
        padding: 0rem 0.5rem;
    }
    .mainBoxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .spanShow{
        display: block;
    }
    .box1{
        width: 10rem;
        height: 3rem;
        background-color: rgb(253, 253, 253);
        border-radius: 10px;
        margin: 0.5rem 1rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h3-mainBox{
        font-family: 'Prompt', sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
        margin: 10px;
    }
    .txt-mainBox{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 2px;
    }
    .box1-1{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin: 5px 5rem;
    }
    .div-Whatsapp{
        position: relative;
        left: 20rem;
        bottom: 13.5rem;
    }
    .image-Whatsapp{
        cursor: pointer;
        position: fixed;
    }
    .image-Whatsapp:hover{
        transform: scale(1.1);
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    .hs-mainHome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h2-bottomHome{
        font-size: 40px;

    }
    .h3-bottomHome{
        padding: 0rem 2rem;
    }
    .div-conversation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 23rem;
        left: 6.5rem;
        border-radius: 15px;
    }
    .h3-conversation{
        font-size: 15px;
        margin: 0.5rem 0rem;
        margin-right: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .form-conversation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
    }
    .link-conversation{
        border: none;
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: rgb(228, 224, 224);
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0rem;
    }
    .input-conversation{
        width: 17rem;
        height: 40px;
        margin: 0.5rem;
        border: none;
        border-radius: 10px;
        border-bottom: 1px solid black;
        outline: none;
        padding-left: 0.5rem;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
    }
    .textarea-conversation{
        width: 17rem;
        height: 100px;
        margin: 0.5rem;
        border-radius: 10px;
        padding-left: 0.5rem;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
    }
    .link-conversationWpp{
        width: 55%;
        height: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        background-color: rgb(0, 255, 64);
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0rem;
    }
    .button-conversation:hover{
        box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    

}
@media (min-width: 100px) and (max-width: 399px){
    .h1-Home{
        font-size: 40px;
    }
    .image-INITIAL{
        width: 22rem;
        margin-top: 0;
    }
    .div-Left{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h3-MainHome{
        font-size: 16px;
        margin: 1.5rem;
    }
    .mainBoxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .spanShow{
        display: block;
    }
    .box1{
        width: 9.5rem;
        height: 3rem;
        background-color: rgb(253, 253, 253);
        border-radius: 10px;
        margin: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        animation: aninBoxMain 8s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
    }
    @keyframes aninBoxMain {
        0%{
            box-shadow: 0px 3px 0px 0px rgb(204, 0, 255);
        }
        50%{
            box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
        }
        100%{
            box-shadow: 0px 3px 0px 0px rgb(204, 0, 255);
        }
    }
    .h3-mainBox{
        font-family: 'Prompt', sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
        margin: 10px;
    }
    .txt-mainBox{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 2px;
    }
    .box1-1{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin: 5px 5rem;
    }
    .div-Whatsapp{
        position: relative;
        left: 17.5rem;
        bottom: 31rem;
    }
    .image-Whatsapp{
        cursor: pointer;
        position: fixed;
    }
    .image-Whatsapp:hover{
        transform: scale(1.1);
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    .hs-mainHome{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .h2-bottomHome{
        font-size: 40px;
    }
    .h3-bottomHome{
        font-size: 15px;
        margin: 0.5rem 0rem;
        margin-right: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .div-conversation{
        display: block;
        top: 0rem;
        left: 6rem;
        border-radius: 15px;
        animation: anindivConversation 1s;
    }
    @keyframes anindivConversation{
        0%{
            opacity: 0;
            transform: translate(400px);
        }
        100%{
            opacity: 1;
            transform: translate(00px);
        }
    }
    
    .h3-conversation{
        font-size: 15px;
        margin: 1rem 0rem;
        margin-right: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .form-conversation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: black;
        margin-top: 10rem;
    }
    .link-conversation{
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: rgb(228, 224, 224);
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0rem;
    }
    #noEnvio{
        margin: 0;
    }
    .input-conversation{
        width: 15rem;
        height: 40px;
        margin: 0.5rem;
        border: none;
        border-radius: 10px;
        border-bottom: 1px solid black;
        outline: none;
        padding-left: 0.5rem;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
    }
    .textarea-conversation{
        width: 15rem;
        height: 100px;
        margin: 0.5rem;
        border-radius: 10px;
        padding-left: 0.5rem;
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
    }
    .link-conversationWpp{
        width: 55%;
        height: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        background-color: rgb(0, 255, 64);
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0rem;
    }
    .button-conversation:hover{
        box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
        transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    
}